{{ .Domain }} {
    {{ if eq .Type "static" }}
    bind 0.0.0.0
    root * {{ .OutputPath }}
    encode gzip
    file_server browse {
        hide .git
    }
    {{ else }}
    reverse_proxy localhost:{{ .Port }}
    {{ end }}
} 